[submodule "Proyecto_Bambi"]
	path = Proyecto_Bambi
	url = https://github.com/LuigiNorp/Proyecto_Bambi
[submodule "Game_Of_Life"]
	path = Game_Of_Life
	url = https://github.com/LuigiNorp/Game_Of_Life
[submodule "Certificates_Downloader"]
	path = Certificates_Downloader
	url = https://github.com/LuigiNorp/Certificates_Downloader
[submodule "Python_Utilities"]
	path = Python_Utilities
	url = https://github.com/LuigiNorp/Python_Utilities